// ----------------  common  ----------------
$header-height: 56px;

// ----------------  component  ----------------
// ----------------  list  ----------------
$list-width: 320px;
$list-item-Xmargin: 10px;
$list-item-Bmargin: 10px;
$list-title-height: 40px;

// ----------------  color  ----------------
$bg-color: #111822;
$white: #cfcdd1;
$red: #cc073c;
$dark: #bdbdbd;