@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.page {
  margin: 0 auto;
  height: calc(100vh - #{$header-height});
  overflow: auto;
}


@media screen and (min-width: 1200px) {
  .page {
    padding: 0px calc((100% - #{$list-width + $list-item-Xmargin * 2} * 4) / 2);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .page {
    padding: 0px calc((100% - #{$list-width + $list-item-Xmargin * 2} * 3) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page {
    padding: 0px calc((100% - #{$list-width + $list-item-Xmargin * 2} * 2) / 2);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .page {
    padding: 0px calc((100% - #{$list-width + $list-item-Xmargin * 2} * 1) / 2);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($white, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
}